@page
@model VanHorn_WebServices_Final.Pages.Days.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Day</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Model.Day.Id
        </dd>
    </dl>
    <table class="table">
        <tbody>
            @{
                int optionNum = 1;
            }
            <tr>
                <td>
                    @if (Model.Day.Timeslots != null)
                    {
                        @foreach (var item in Model.Day.Timeslots)
                        {
                            <header>Timeslots</header>
                            <ul>
                                <li>Timeslot @optionNum: @item.ServiceProvider @item.Customer</li>
                                @{
                                    optionNum++;
                                }
                            </ul>
                            string dayId = Model.Day.Id;
                            <a asp-page="/Timeslots/Edit" asp-route-quizId="@dayId" asp-route-id="@item.TId">Edit TimeSlot</a>
                        }
                    }
                    else
                    {
                        <p>Nothing scheduled for today</p>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Day.Id">Edit</a> |
</div>
