@page
@model VanHorn_WebServices_Final.Pages.Timeslots.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timeslot[0].DayId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslot[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timeslot[0].ServiceProvider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Timeslot) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProvider.SPId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
