@page
@model VanHorn_WebServices_Final.Pages.Businesses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Business</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.BusinessName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.BusinessName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Business.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Business.Phone)
        </dd>
    </dl>
    <h4>Appointments</h4>
    <hr />
    <table class="table">
        <tbody>
            @{
                int optionNum = 1;
            }
            <tr>
                <td>
                    @if (Model.Business.Timeslots.Count != 0)
                    {
                        @foreach (var item in Model.Business.Timeslots)
                        {
                            <ul>
                                <li>@item.DayId at @item.StartTime <a asp-page="/Timeslots/Cancel" asp-route-id="@item.TId">Cancel</a></li>
                                @{
                                    optionNum++;
                                }
                            </ul>
                        }
                    }
                    else
                    {
                        <p>Nothing Scheduled</p>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Business.SPId">Edit</a> |
</div>
