@page
@model VanHorn_WebServices_Final.Pages.Businesses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Business) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SPId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SPId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SPId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
